# MongoDB Connection String (Replace with your actual Atlas cluster URI)
# Waitlist Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/maasanskriti?retryWrites=true&w=majority

# Port for the Node.js server
PORT=5000
